PORT=3000
SUPABASE_URL=https://vwgsxbraktgmlibmgils.supabase.co
SUPABASE_SECRET_KEY=your_supabase_secret_key_here
TELEGRAM_BOT_TOKEN=
ENCRYPTION_SECRET=etebox-master-secret-vault-2026
ADMIN_PASSWORD=321325
